#iniciarSesion {
    background:   url("../imagenes/fondoInicioSesion.jpg");
    background-size: cover; /* Para ajustar la imagen al tamaño del contenedor */
    background-position: center; /* Para centrar la imagen */
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
  }
  
    #registrarLibro{
    background:   url("../imagenes/fondoRegistrarLibro2.jpg");
    background-size: cover; /* Para ajustar la imagen al tamaño del contenedor */
    background-position: center; /* Para centrar la imagen */
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    }


  .inicioSesion {
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: xx-large;
    color: white;
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: "Berkshire Swash", serif;
    text-align: center;
    -webkit-text-stroke-width: 0.1px;
    -webkit-text-stroke-color: black;
    }


 .registro-libro{
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: xx-large;
    color: white;
    padding-top: 10%;
    padding-bottom: 10px;
    font-family: "Berkshire Swash", serif;
    text-align: center;
    -webkit-text-stroke-width: 0.1px;
  -webkit-text-stroke-color: black;
    }


    .formulario{
        width: 28%;
        background-color: rgba(240, 208, 203,0.7);
        height: auto;
        border-radius: 25px;
        padding-top: 3%;
        padding-bottom: 5%;
        margin-top: 10%;
        -webkit-box-shadow: 0px 0px 22px 0px rgba(240,146,131,0.8);
        -moz-box-shadow: 0px 0px 22px 0px rgba(240,146,131,0.8);
         box-shadow: 0px 0px 22px 0px rgba(240,146,131,0.8);
    }

    .completar{
        width: 60%;
        padding: 10px;
        padding-left: 2%;
        border-radius: 25px;
        height: 25px;
        margin-bottom: 1%;
        font-size: 20px;
        color: black;
    }

    .idiomas{
        position: relative;
        padding: 10px;
        padding-left: 2%;
        border-radius: 25px;
        height: 25px;
        margin-bottom: 1%;
        font-size: 20px;
        color: black;
    }


    .btn_buscar{
        width: 30%;
        padding: 10px;
        padding-left: 2%;
        margin-top: 8%;
        margin-bottom: 5%;
        border-radius: 25px;
    }

    .btn_buscar:hover{
        background-color: rgba(240,146,131,0.8);
        -webkit-box-shadow: 0px 0px 22px 0px rgba(240,146,131,0.8);
        -moz-box-shadow: 0px 0px 22px 0px rgba(240,146,131,0.8);
         box-shadow: 0px 0px 22px 0px rgba(240,146,131,0.8);
         cursor: pointer;
    }

    .registra{
        font-family: "Berkshire Swash", serif;
        font-size: 20px;
    }

    .error-text {
        font-size: 20px;
        margin-bottom: 2%;
    }

.formulario-libro{
    margin-top: 50vh;
    z-index: 0;
    padding: 0 0 0 0;
    margin-top: 20%;
}

.mostrarTabla{
    margin-top: 6.5%;
    z-index: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

.btn_buscar_libro{
    width: 30%;
    padding: 10px;
    padding-left: 2%;
    margin-top: 6%;
    margin-bottom: 5%;
    border-radius: 25px;
}